fastapi==0.115.13
uvicorn[standard]==0.34.3
gunicorn==22.0.0
python-multipart==0.0.20
azure-cognitiveservices-speech==1.44.0
pydub==0.25.1
noisereduce==3.0.3
numpy==1.26.4
python-dotenv==1.1.0
ffmpeg-python==0.2.0
requests==2.32.3
pydantic==2.11.7